<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/index.css">
        <script src="js/common.js"></script>
    </head>
    <body>
        <div id="dsalkds">
            <!-- <span v-bind:title="message">
                奥大厦撒泼
            </span> -->
            <!-- <p v-if="seen">现在你看到我了</p> -->
            <div id="app-4">
                <ol>
                  <li v-for="todo in todos">
                    {{ todo.text }}
                  </li>
                </ol>
              </div>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="node_modules/vue/dist/vue.min.js"></script>
        <script>
            var app=new Vue({
                el:'#dsalkds',
                data:{
                    // message:'页面加载于'+new Date().toLocaleString(),
                    // seen:true
                    todos: [
                        { text: '学习 JavaScript' },
                        { text: '学习 Vue' },
                        { text: '整个牛项目' }
                    ]
                }
            })
        </script>
    </body>
</html>